:root {
  --primary-text: #bac3cb;
  --secondary-text: #a3abb1;
  --error: #f54c45;
  --primary-background: #0c1116;
  --secondary-background: #161a23;
  --borders-color: #1e232f;
  --areas-color: #18243c;
  --hit-dot-color: #94d958;
  --miss-dot-color: #f54c45;
}