body{
    /*margin-top: 20px;*/
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    /*width: 100%;*/
    background-color: #fff5e4;
}
footer>div>p{
    color: #87cefa;
    background-color: #fcd8d4;
    width: 100%;
    height: 25px;
    text-align: center;
    font-family: Times, "Times New Roman", serif;
}
#head{
    width: 100%;
    font-size: 17px;
    background-color: #87cefa;
    /*"Brush Script MT"*/
    text-align: center;
    font-family: Times, "Times New Roman", serif;
    color: gray;
}
#iFrame {
    width: 100%;
    background-color: #fcd8d4;
}
#canvas {
    padding-top: 5px;
    background-color: ivory;
}
p{
    font-family: "Times New Roman", Times, serif;
}
#info{
    /*border: black 1px solid;*/
    width: 100%;
}
#xyr{
    padding-left: 2px;
    width: 20%;
}
#graph{
    width: 35%;
}
#err{
    width: 20%;
}

.block {
    width: 80%;
    text-align: center;
    box-shadow: #fcd8d4 0 5px 10px;
    background-color: #fcd8d4;
    height: auto;
    /*letter-spacing: 6px;*/
    font-size: 17px;
    padding: 20px;
    margin-top: 15px;

}
.main-text {
    font-size: 20px;
    font-family: Times, "Times New Roman", serif;
    font-weight: normal;
    clear: both;
}
a {
    text-decoration: none;
    color: #87cefa;
}

/** {*/
/*    color: #c1b492;*/
/*}*/

.auto-margin{
    margin-left: auto;
    margin-right: auto;
}

.centered{
    margin: auto;
    width: 95%;
}

#canvas {
    padding-top: 5px;
}


#xblock, #yblock, #rblock, #error {
    /*width: min-content;*/
}

#xblock *, #yblock *, #rblock * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
}

#head {
    margin-top: 4%;
}

input {
    text-align: center;
    background-color: #ffffff;
    color: black;
}

#error {
    color: red;
    /*width: 20%;*/
}

.graphic {
    width: 305px;
    height: 305px;
    border-radius: 7%;
}

#canvas {
    padding-top: 5px;
}




